<style>
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    main {
        flex: 1;
        margin-bottom: 3rem;
        padding-bottom: 5rem;
    }

    footer {
        position: fixed;
        /* changed from margin-top: auto; to position: fixed; */
        bottom: 0;
        left: 0;
        width: 100%;
        /* added to make the footer span the entire width */
        background-color: #343a40;
        /* added to set the background color */
        color: #fff;
        /* added to set the text color */
        padding: 1rem;
        /* added some padding for spacing */
    }
</style>

<footer class="footer bg-dark py-3">
    <div class="container">
        <span class="text-light">&copy; Yelpcamp 2023</span>
    </div>
</footer>